# Ignore the following directories
node_modules

# Ignore the following files
*.log
*.log.*

# Ignore system files
.DS_Store

# Ignore Taskfile artifacts
.task

# Ignore PLATE specific folders and files
bin/plate.js
log/*
src/*
tmp/*

# Keep the following files for empty directories to be included in the repository
!/**/.gitkeep
